<div class="container p-4">
  <div class="my-4 text-center">
    <h1>Ooops, page not found</h1>
  </div>
  <div class="alert alert-danger w-50 mx-auto" role="alert">
    <strong>404</strong> - Page not found!
    <br>
    <br>
    <a href="/">Back to homepage</a>
  </div>
</div>