<div class="container p-4">
  <h1 class="my-4 text-center">About</h1>
  <div class="text-center my-4">
    <img src="/images/contact-hero.svg" alt="Hero" class="img-fluid mx-auto" width="600">
    <p>
      <b>EXPRESS CONTACTS</b> is a simple web application that allows you to manage your contacts.
    </p>
  </div>

</div>