<div class="container p-4">
  <div class="my-4 text-center">
    <h1>Contact Details</h1>
  </div>
  <div class="alert alert-danger w-50 mx-auto" role="alert">
    Contact not found!
    <br>
    <br>
    <a href="/contacts">Back to contacts</a>
  </div>
</div>